syntax = "{{ .proto.syntax }}";

package {{ .proto.package }};
{{ range .proto.imports }}
import "{{ . }}";
{{ end }}

option go_package = "{{ .proto.go_package }}";
{{ range .proto.services }}
service {{ .name }} {
{{- range .rpcs }}
  rpc {{ .name }}({{ if .request_stream }}stream {{ end }}{{ .request }}) returns ({{ if .response_stream }}stream {{ end }}{{ .response }}) {}
{{- end }}
}
{{ end -}}
{{ range .proto.declarations }}
{{ if eq .kind "enum" -}}
enum {{ .name }} {
{{- range .values }}
  {{ .name }} = {{ .number }};
{{- end }}
}
{{ else if eq .kind "message" -}}
message {{ .name }} {
{{- range .reserved_names }}
  reserved "{{ . }}";
{{- end }}
{{- range .fields }}
{{- with .comment }}
  // {{ . }}
{{- end }}
  {{ with .rule }}{{ . }} {{ end }}{{ .type }} {{ .name }} = {{ .number }};
{{- end }}
{{- range .oneofs }}
  oneof {{ .name }} {
{{- range .fields }}
    {{ .type }} {{ .name }} = {{ .number }};
{{- end }}
  }
{{- end }}
}
{{ end -}}
{{ end -}}
