<!DOCTYPE html>
<html lang="en">

{{template "head" . }}

<body>
    <div id="wrapper">


        <!-- navbar -->
        {{template "navbar"}}
        <!-- /navbar -->

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="page-header">{{ .App.Name }} <span class="label label-default">{{ .App.Status }}</span></h2>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">

                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">Docker Image</h3>
                  </div>
                  <div class="panel-body">
                    {{ .App.ImageID }}
                  </div>
                </div>

            </div>
            <!-- /.row -->
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

</body>

</html>
