<!DOCTYPE html>
<html lang="en">

{{template "head" . }}

<body>
    <div id="wrapper">


        <!-- navbar -->
        {{template "navbar"}}
        <!-- /navbar -->

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Apps</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Image ID</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                {{ range $app := .Apps  }}  
                    <tr>
                        <td><a href="/apps/{{ $app.Name }}">{{ $app.Name }}</a></td> 
                        <td>{{ $app.ImageID }}</td> 
                        <td>{{ $app.Status }}</td>
                    </tr>
                {{ end  }}  
                </table>
            </div>
            <!-- /.row -->
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

</body>

</html>
