<!DOCTYPE html>
<html lang="en">

    {{template "head" . }}

    <body>

        <!-- navbar -->
        {{template "navbar"}}
        <!-- /navbar -->

        <div class="ui padded grid">
            <div class="column">
                <div class="statistic">
                    <div class="value big">
                        <i class="cubes icon"></i> {{ .AppCount }}
                    </div>
                    <div class="label">
                        Running apps 
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="statistic">
                    <div class="value big">
                        <i class="dashboard icon"></i> 71%
                    </div>
                    <div class="label">
                        Resources
                    </div>
                </div>
            </div>

        </div>


    </body>

</html>
